// variables
$dark-cyan: hsl(185, 75%, 39%);
$dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$light-gray: hsl(0, 0%, 59%);
$black-opacity: rgba(0, 0, 0, 0.120);
$box-shadow: rgba(0, 0, 0, 0.250);
